<%- include('partials/header') -%>




<div class="container-fluid">
<h1>HOME</h1>

<!--<p><%= homeStartingContent %></p>-->


    <% newListPost.forEach(function (post) { %>

        <h1> <%=post.title%> </h1>
        <p> <%=post.content.substring(0, 100) + '...'%> </p>
        <a href="http://localhost:3000/posts/<%=post._id%>">Read More</a>
        <input type="hidden" name="idPost" value="<%= post._id%>">
    <% }) %>


</div>
<%- include('partials/footer') -%>

